#container-room{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--black);
}

#video-principal{
  flex: 1;
  max-height: calc(100vh - 260px);
  position: relative;
}
#video-principal > div {
  display: grid;
  place-content: center;
  height: 100%;
  overflow: hidden;
}

#video-principal video {
  width: 100%;
  aspect-ratio: 4/3;
  min-width: 380px;
}


#container-participant {
  max-width: 100%;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  margin-bottom: -5px;
  padding-right: 20px;
}
.participant{
  min-width: 180px;
  width: 180px;
  height: 160px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--gray-dark);
  overflow: hidden;
}
.participant .user-icon{
  height: 140px;
  display: grid;
  place-content: center;
}
.participant .user-icon div{
  padding: 10px;
  background-color: var(--disable);
  border-radius: 50%;
}
.participant .user-icon img{
  filter: invert();
  width: 65px;
}

.participant.select{
  border-color: var(--primary);
}
.participant video {
  width: 100%;
  aspect-ratio: 4/3;
}
.participant .username{
  color: var(--white);
  font-weight: 500;
  margin-bottom: 5px;
}
.controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
  color: var(--white);
}

.controls .room-name, .controls .hours {
  max-width: 21vw;
  width: 100%;
}

.controls .room-name {
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.controls .buttons{
  display: flex;
  flex: 1,
}

.button-icon {
  background-color: var(--primary);
  color: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid;
  display: grid;
  place-content: center;
  margin: 0px 5px;
}

.button-icon.disabled {
  background-color: var(--disable);
}

.button-icon.logout{
  background-color: var(--error);
}

.button-icon img{
  filter: invert();
}

@media screen and (min-width: 990px) {
  #container-room{
    flex-direction: row;
    flex-wrap: wrap;
  }
  #video-principal{
    max-width: calc(100vw - 370px);
    min-height: calc(100vh - 72px);
  }
  #video-principal video{
    min-width: 380px;
  }

  #container-participant{
    width: 405px;
    border-left: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-template-rows: max-content;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
  }
  .controls{
    border-top: 1px solid #ccc;
    width: 100%;
    padding: 10px 40px;
  }

  .button-icon {
    width: 50px;
    height: 50px;
  }
}