body {
  background: #f0f0f0;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

#container {
  width: 100%;
  display: flex;
}
.participant{
  width: 33%;
  text-align: center;
}
.participant video {
  width: 90%;
  height: auto;
}