html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #f0f0f0;
  font-family: system-ui;
}

:root{
  --primary: #54a1ff;
  --primary-dark: #0877fd;
  --error: red;
  --gray: #eeeeee;
  --gray-dark: #cccccc;
  --black: #222222;
  --white: #ffffff;
}